/* Aspects. */
.Comment       { color: #B22222 }
.Keyword       { color: #CD6600 }
.String        { color: #B22222 }
.Number        { color: #A020F0 }
.Symbol        { color: #404040 }
.PrimitiveType { color: #0000CD }
.Operator      {}

/* NameKinds. */
.Bound                  { color: black   }
.InductiveConstructor   { color: #008B00 }
.CoinductiveConstructor { color: #8B7500 }
.Datatype               { color: #0000CD }
.Field                  { color: #EE1289 }
.Function               { color: #0000CD }
.Module                 { color: #A020F0 }
.Postulate              { color: #0000CD }
.Primitive              { color: #0000CD }
.Record                 { color: #0000CD }

/* OtherAspects. */
.DottedPattern      {}
.UnsolvedMeta       { color: black; background: yellow         }
.UnsolvedConstraint { color: black; background: yellow         }
.TerminationProblem { color: black; background: #FFA07A        }
.IncompletePattern  { color: black; background: #F5DEB3        }
.Error              { color: rgb(255, 190, 190) !important;   text-decoration: underline }
.TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
a { text-decoration: none }
a[href]:hover { background-color: rgba(0,0,0,0.2) }



/* padding */

body {
  margin: auto;
  padding: 1em 1em 1em 1em;
  max-width: 60%;
  /*line-height: 130%;*/
  background-color: transparent;
  color: white;
}

p {
  font-size: 14pt !important;
}

h1 {
  padding-top: 1.5em;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.5em;
}

h1.title {
  padding-top: 3em;
  padding-bottom: 2em;
}
h1.title, h2.author, h3.date {
  text-align: center;
  line-height: normal;
}

h2.author, h3.date { visibility: hidden }
h2.author, h3.date { display: none }


hr {
  height: 10px;
}


/* margin */

div.indent, pre, table {
  margin-left: 5%;
  width: 95%;
}

table {
  background-color: #272525;
  border-radius:    20px;
  margin:           20px;
  padding:          10px;
  border-collapse: collapse;
}

th, td {
  text-align: center;
}

div.indent, pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre.normal {
  margin: 0;
  width: auto;
}


div.indent input {
  margin-bottom: 0.5em;
}

input, textarea {
  margin: 0;
}


/* border */

h2, h3 {
  margin-top:     20px;
  padding-bottom: 15px;
}

h3 {
  /*border-bottom:  10px solid rgba(120, 60, 60);*/
}

h2 {
  color: rgba(255, 80, 120);
}

h1 {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 50px solid rgba(120, 60, 60);
}

h1.title, h2.author, h3.date, input, textarea, hr {
  border-style: none;
}


/* font sizes */

h1              { font-size: 300%; }
h1.title        { font-size: 300%; }
h2              { font-size: 200%; }
h3              { font-size: 170%; }
h4              { font-size: 150%; }
input, textarea { font-size: 150%; } /* monospace correction */


/* font family, style, weight, text decoration */

h1, h2, h3 {
  font-weight: bold;
}

pre code, textarea, div.string {
  font-family: monospace;
  font-size: 150%;
}

pre.normal, pre.normal code, code, .error, input {
  font-family: sans-serif;
  font-size: 100%;
}


a {
  text-decoration: none;
}

div.serious {font-weight: bold;}
div.info {color: gray;}


/* colors other than highlighting */

input           { background-color: #eeeeee; }
textarea        { background-color: #ffffba; }

hr              {
  background-color:  rgb(75, 80, 60);
  height:            200px;
  padding:           20px;
  background-image:  url("../space.png");
  background-repeat: repeat;
  background-size: contain;
}

div.string span { background-color: yellow; }

a               { color: #ff4444; }
h1 a, h2 a, h3 a { color: white; }
code            { color: rgb(150, 150, 150) !important; }
.type           { color: #0080ff; }
.error          { color: #a030a0; }
.comment        { color: gray; float: right; }


/* misc */

p.caption {
  display: none;
}

div#lang {
  position:fixed;
  z-index:1000;
  right: 1%;
  top: 1%;
}

div#info {
  display: none;
  position:fixed;
  z-index:1000;
  left: 40%;
  width: 20%;
  top: 40%;
  height: 20%;
}

.wait {
  padding: 10px;
  width: 8em;
  border: 1px solid grey;
}

/*  highlighting css  */

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode span.kw { color: rgb(200, 50, 150) ; /* font-weight: bold; */ }
pre.sourceCode span.dt { color: #22ff33; font-style: italic; font-weight: bold; }
pre.sourceCode span.dv { color: #40a0f0; }
pre.sourceCode span.bn { color: #40a0d0; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #6090a0; }
pre.sourceCode span.co { color: #60a0b0; /* font-style: italic; */ }
pre.sourceCode span.ot { color: rgb(255, 0, 120); }
pre.sourceCode span.al { color: rgb(255, 190, 190) !important; /* font-weight: bold; */ }
pre.sourceCode span.fu { color: #ff287e; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: rgb(255, 190, 190) !important; /* font-weight: bold; */ }

div.sourceCode {
  background-color: #302727;
  border-radius:    20px;
  margin:           20px;
  padding:          10px;
}

ul {
  background-color: #232323;
  border-radius:    20px;
  padding:          20px;
  padding-left:     50px;
}

ul:first-of-type {
  background-color:        #252825;
  border-top-right-radius: 0px;
  border-top-left-radius:  0px;
}

ul:first-of-type a {
  color: #aaffaa;
}

html {
  background-color: #252525
}

body {
  background-color: inherit;
}

li {
  font-size: 15pt !important;
}

a{
  font-size: 13pt !important;
}

a > li {
  font-size: 13pt !important;
}

strong {
  font-size: 200%;
}

.math {
  font-size: 130%;
  color: #cf9400;
}

img {
  margin-left: 50px;
  max-width: 800px;
  max-height: 800px;
  background-color: #222227;
  border-radius:    20px;
  margin:           20px;
  padding:          30px;
}
